
.icon-smile:before { content: '\e800'; } /* '' */
.icon-bell-alt:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-dollar:before { content: '\e803'; } /* '' */
.icon-tree:before { content: '\e804'; } /* '' */
.icon-star-empty:before { content: '\e805'; } /* '' */
.icon-circle-thin:before { content: '\e806'; } /* '' */
.icon-clock:before { content: '\e807'; } /* '' */