@media (min-width:768px) and (max-width:991px){.slide_text{display:none;}
.home_content_sec{padding:0;}
.yellowbg{background:#f7e35a;width:100%;padding:10px;}
.darkgreybg{background:#5c5c5c;width:100%;padding:10px;}
.suggbody_left{display:block;width:100%;}
.suggbody_right{display:block;width:100%;margin-top:5px;}
.yellow_btn{padding:0 5px!important;}
}
@media screen and (max-width:767px){.home_content_sec{padding:0;}
.slide_text{display:none;}
.yellowbg{background:#f7e35a;width:100%;padding:10px;}
.darkgreybg{background:#5c5c5c;width:100%;padding:10px;}
.myacc_left{background:#f5f5f5;display:block;vertical-align:top;float:none;margin-right:15px;}
.myacc_right{display:block;vertical-align:top;float:left;padding-left:0;width:95%;}
.btn-group .dropdown-toggle{margin-bottom:10px;}
}