.rslides{position:relative;list-style:none;overflow:hidden;width:100%;padding:0;margin:0;}
.rslides li{-webkit-backface-visibility:hidden;position:absolute;display:none;width:100%;top:0;text-align:center;}
.rslides li:first-child{position:relative;display:block;float:left;}
.rslides img{height:auto;border:0;}