@CHARSET "UTF-8";

.classifieds_form {
    margin-top: 20px;
    width: 690px;
}
/* .classifieds_form span {
    margin-right: 25px;
} */

#frmClassifiedsRegister div:first-child{
    padding-bottom: 7px;
}
.classifieds_form form a {
    color: #E99620;
}
.classifieds_form form a:hover {
    color: #515151;
}
.classifieds_form span p {
    color: #4A4A4A !important;
    font-family: 'Open Sans Condensed',sans-serif !important;
    font-size: 14px !important;
    line-height: 24px;
}
.classifieds_form form .signup_btn {
    background: linear-gradient(to bottom, #F2C40F 0%, #F6B116 100%) repeat scroll 0 0 transparent;
    border: 1px solid #DCB30D;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px #F8D86B inset;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 22px;
    height: 35px;
    margin: 15px 10px 0 0;
    outline: medium none;
    padding: 0 20px;
    text-shadow: 1px 1px 1px #A78A1C;
}
.classifieds_form form .signup_btn:hover {
    background: linear-gradient(to bottom, #FFD229 0%, #F2C311 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 1px #FFEFB9 inset;
    text-shadow: 1px 1px 1px #DFB515;
}
