/* 
    Document   : popup
    Created on : Dec 5, 2013, 3:14:26 PM
    Author     : Anoop
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

h3{
	font-size:28px;
	font-family: 'Open Sans Condensed', sans-serif;
	color:#505050;
	font-weight:normal;
	border-left: 12px solid #208bc9;
    padding-left: 14px;
}
[type="text"]{
	background:#FFF;
	border:1px solid #d8d8d8;
	height:40px;
	width:320px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	margin-top:5px;
	margin-bottom:0px!important;
	color:#4f4f4f;
	font-size:13px;
	font-family: 'Open Sans', sans-serif;
	padding:2px 5px;
}
[type="password"]{
	background:#FFF;
	border:1px solid #d8d8d8;
	height:40px;
	width:320px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	margin-top:15px;
	margin-bottom:0px!important;
	color:#4f4f4f;
	font-size:13px;
	font-family: 'Open Sans', sans-serif;
	padding:2px 5px;
}
select{
	background:#FFF;
	border:1px solid #d8d8d8;
	height:45px;
	width:331px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	margin-top:15px;
	margin-bottom:0px!important;
	color:#4f4f4f;
	font-size:13px;
	font-family: 'Open Sans', sans-serif;
	padding:5px 5px;
}
textarea{
	background:#FFF;
	border:1px solid #d8d8d8;
	height:90px;
	width:320px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	margin-top:5px;
	margin-bottom:0px!important;
	color:#4f4f4f;
	font-size:13px;
	font-family: 'Open Sans', sans-serif;
	padding:2px 5px;
}



input[type=checkbox].css-checkbox { position: absolute;  overflow: hidden;  clip: rect(0 0 0 0);  height:1px;  width:1px;  margin:-1px;  padding:0; border:0; }  input[type=checkbox].css-checkbox + label.css-label { padding-left:20px; height:15px;  display:inline-block; line-height:15px; background-repeat:no-repeat; background-position: 0 0; font-size:15px; vertical-align:middle; cursor:pointer; }  input[type=checkbox].css-checkbox:checked + label.css-label { background-position: 0 -15px; }  .css-label{ background-image:url(http://csscheckbox.com/checkboxes/lite-gray-check.png); }


.cancel_btn{
border:1px solid #656565;
height:35px;
cursor:pointer;
outline:none;
padding:0px 20px;
font-size:22px;
font-family: 'Open Sans Condensed', sans-serif;
color:#FFF;
text-shadow: 1px 1px 1px #656565;
box-shadow: inset 0 1px #c6c6c6;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
margin:10px 10px 0 0;
background: #9c9c9c; /* Old browsers */
background: -moz-linear-gradient(top, #9c9c9c 0%, #6d6d6d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9c9c9c), color-stop(100%,#6d6d6d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #9c9c9c 0%,#6d6d6d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #9c9c9c 0%,#6d6d6d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #9c9c9c 0%,#6d6d6d 100%); /* IE10+ */
background: linear-gradient(to bottom, #9c9c9c 0%,#6d6d6d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c9c9c', endColorstr='#6d6d6d',GradientType=0 ); /* IE6-9 */
}
.cancel_btn:hover{
border:1px solid #7e7e7e;
text-shadow: 1px 1px 1px #656565;
box-shadow: inset 0 1px #c6c6c6;
background: #ababab; /* Old browsers */
background: -moz-linear-gradient(top, #ababab 0%, #8c8c8c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ababab), color-stop(100%,#8c8c8c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ababab 0%,#8c8c8c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ababab 0%,#8c8c8c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ababab 0%,#8c8c8c 100%); /* IE10+ */
background: linear-gradient(to bottom, #ababab 0%,#8c8c8c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ababab', endColorstr='#8c8c8c',GradientType=0 ); /* IE6-9 */
}
.left{
	float:left;
}
.right{
	float:right;
}
.signuplink{
	color: #E78410;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:19px;
	text-decoration:none;
}
 .clserror{
    color: red !important;
	margin-bottom:2px;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
 }
  .error_div{
    color: red !important;
	margin-bottom:7px;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	border: 1px solid #f9ea96;
	height:22px;
	line-height:22px;
	padding:2px 3px 2px 35px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	background:url(images/warning_icon.png) no-repeat 0% 50% #fff8bd;
 }

  .success_div{
    color:#94ac10!important;
	margin-bottom:7px;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	border: 1px solid #f9ea96;
	height:22px;
	line-height:22px;
	padding:2px 3px 2px 40px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	background:url(images/success_icon.png) no-repeat 0% 50% #fff8bd;
 }
 
.frnd_reqst_img {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 50px;
    margin-right: 10px;
    width: 50px;
}

.frnds_list_blk {
    float: left;
    margin: 10px 0 15px;
    max-width: 226px;
    min-height: 50px;
    padding-right: 10px;
    width: 100%;
}

.frnd_reqst_img img {
    max-height: 50px;
    max-width: 50px;
    text-align: center;
    vertical-align: middle;
}

.member_profile_picblk{
	width:178px;
	height:164px;
	border:3px solid #bfbfbf;
	position:relative;
}
.member_profile_picblk img{
	max-width:178px!important;
	max-height:164px!important;
}
.content_login h3{
	font-size:28px;
	font-family: 'Open Sans Condensed', sans-serif;
	color:#505050;
	font-weight:normal;
	border-left: 12px solid #208bc9;
    padding-left: 14px;
	margin:10px 0px!important;
}
.invite_list_blk {
    float: left;
    margin: 7px 0;
    max-width: 350px;
    min-height: 50px;
    padding-right: 0px;
	padding-bottom:10px;
    width: 100%;
	border-bottom:1px solid #F0F0F0;
}
.invite_list_img {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 50px;
    margin-right: 10px;
    width: 50px;
	padding:1px;
	border: 1px solid #f1f1f1;
}

.invite_list_img img {
    max-height: 50px;
    max-width: 50px;
    text-align: center;
    vertical-align: middle;
}

.invite_frnd_list_name{
	color: #E78410;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 5px;
	width:186px;
	float:left;
	padding-right:5px;
}
.invite_frnd_list_name h5{
	color: #E78410;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    font-weight: normal;
	margin-top:13px;
    margin-bottom: 5px;
}
.invite_act_blk{
	color: #F9A512;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    font-weight: normal;
	margin-top:6px;
	//width:95px;
	float:left;
}
.invite_btn {
background: #f2c40f; /* Old browsers */
background: -moz-linear-gradient(top, #f2c40f 0%, #f6b116 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2c40f), color-stop(100%,#f6b116)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f2c40f 0%,#f6b116 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f2c40f 0%,#f6b116 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f2c40f 0%,#f6b116 100%); /* IE10+ */
background: linear-gradient(to bottom, #f2c40f 0%,#f6b116 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2c40f', endColorstr='#f6b116',GradientType=0 ); /* IE6-9 */
    border: 1px solid #DCB30D;
    border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    box-shadow: 0 1px #F8D86B inset;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 16px;
    height: 30px;
    margin: 5px 0 0 0;
    outline: medium none;
    padding: 0 15px;
    text-shadow: 1px 1px 1px #A78A1C;
	float:right;
}
.invite_btn:hover{
text-shadow: 1px 1px 1px #A78A1C;
box-shadow: inset 0 1px #ffefb9;
background: #ffd229; /* Old browsers */
background: -moz-linear-gradient(top, #ffd229 0%, #f2c311 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd229), color-stop(100%,#f2c311)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffd229 0%,#f2c311 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffd229 0%,#f2c311 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffd229 0%,#f2c311 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffd229 0%,#f2c311 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd229', endColorstr='#f2c311',GradientType=0 ); /* IE6-9 */
}
.loading_invite{
	float:right;
	width:12px;
	height:12px;
	margin-top:9px;
	padding-left:5px;
}
.addLoader{
  
    background:url(images/small_loading.gif) no-repeat;
    float:right;
	width:12px;
	height:16px;
	margin-top:9px;
	padding-left:5px;
    
}


.show_message_outer{
	float:left;
	width:100%;
	}
	.show_message_outer h1{
	width:100%;
	margin:20px 0 0 0; padding:0; color:#000; font-family:'Open Sans Condensed',sans-serif; font-size:22px; font-weight:normal;
	border-bottom: 1px solid #23b7e5;
	}
	.show_message_outer p{
	width:100%;
	margin:0; padding:10px 0 0 0; color:#000; font-family:'Open Sans',sans-serif; font-size:12px; line-height:22px;
	}
	
#content_msg{
	padding:20px 0 0 0;
	}
	#content_msg label{
	width:100%;
	margin:20px 0 0 0; padding:0; color:#000; font-family:'Open Sans Condensed',sans-serif; font-size:18px; font-weight:normal;
	}

.yellow_btt{
	background:#394d60; 
	color:#FFF; font-family:'Open Sans Condensed',sans-serif; font-size:16px; padding:5px 15px; margin:0; border:0px; cursor: pointer;
	}
	.yellow_btt:hover{
	background:#506274;
	}
	#content_msg{
	color:#000000;
	font-family:'Open Sans',sans-serif; font-size:12px;
	}
	.popup_success_msg{
	color:#009900;
	font-family:'Open Sans',sans-serif; font-size:12px;
}

textarea{
	width:100%!important;
}
.error{
    color:#FF3A05 !important;
    border-color: #FF3A05;
}
input[type=password].error{
    color:#FF3A05 !important;
    border-color: #FF3A05;
    background: #fee9ea;
}


.testimonialpopup_box_outer [type="text"], .inquirypopup_box_outer [type="text"]{
	width:100%!important;
}

.testimonialpopup_box_outer .yellow_btn, .inquirypopup_box_outer .yellow_btn{
	padding:0px 15px;
	height:24px!important;
	cursor:pointer;
	background:#3fa1da!important;
	font-size:12px;
	font-family: 'Roboto', sans-serif;
	color:#ffffff;
	margin:3px 0 0 0!important;
	border: 0!important;
	line-height: 24px;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
}
.testimonialpopup_box_outer .yellow_btn:hover, .inquirypopup_box_outer .yellow_btn:hover{
	background:#23b7e5!important;
}
#image_submit{
	margin-top: 15px;
	background: #23b7e5!important;
	padding: 6px 15px;
	border: 0!important;
	color: #FFF;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
}
#image_submit:hover{
	background: #1381c0!important;
}	