.chatbox{position:fixed;position:expression("absolute");width:225px;display:none;}
.chatboxhead{background-color:#208bc9;padding:7px;color:#ffffff;border-right:1px solid #208bc9;border-left:1px solid #208bc9;}
.chatboxblink{background-color:#176689;border-right:1px solid #176689;border-left:1px solid #176689;}
.chatboxcontent{font-family:arial,sans-serif;font-size:13px;color:#333333;height:200px;overflow-y:auto;overflow-x:auto;padding:7px;border-left:1px solid #cccccc;border-right:1px solid #cccccc;border-bottom:1px solid #eeeeee;background-color:#ffffff;line-height:1.3em;}
.chatboxinput{padding:5px;background-color:#ffffff;border-left:1px solid #cccccc;border-right:1px solid #cccccc;border-bottom:1px solid #cccccc;}
.chatboxtextarea{width:206px;height:44px;padding:3px 0pt 3px 3px;border:1px solid #eeeeee;margin:1px;overflow:hidden;}
.chatboxtextareaselected{border:2px solid #208bc9;margin:0;}
.chatboxmessage{margin-left:1em;}
.chatboxinfo{margin-left:-1em;color:#666666;}
.chatboxmessagefrom{margin-left:-1em;font-weight:bold;}
.chatboxmessagecontent{}
.chatboxoptions{float:right;}
.chatboxoptions a{text-decoration:none;color:white;font-weight:bold;font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;}
.chatboxtitle{float:left;}
.picstatus .la{color:orange !important;}
.picstatus .ma{color:grey !important;}