

<?php if(PageContext::$response->members) { ?>
<?php foreach(PageContext::$response->members As $members){?>
<div class="frnds_list_blk" style="padding: 10px;">
					<div class="frnd_reqst_img">
						<img src="<?php if ($members->file_path =='' ){echo PageContext::$response->userImagePath.'member_noimg.jpg';}else{echo PageContext::$response->userImagePath.$members->file_path;} ?>">
					</div>
					<div class="frnd_content">
                                            <h6><a href="<?php echo PageContext::$response->baseUrl.'profile/'.$members->user_alias; ?>"><?php echo ($members->user_firstname!='')?$members->user_firstname." ".$members->user_lastname:$members->user_email;?> </a></h6>
						<p><?php echo $members->user_friends_count; ?>  friends</p>
<!--						<div class="frnd_content_accept">
							+ <span><a href="#"></a></span>
						</div>
						<div class="frnd_content_decline">
							x <span><a href="#"></a></span>
						</div>-->
					</div>
				</div>
<?php }}else{?>
<div class="frnds_list_blk" style="padding: 10px;"> No matches </div>
<?php } ?>
<div class="clear"></div>

<input type="hidden" id="membercount" value="<?php echo PageContext::$response->membercount;?>">